<div>
  <span style="font-size: 20px; font-weight: bold;">Dr. Edith James</span>
  <div style="background-color: #DEE7FF; height: auto">
    <div style="background-color: #1177BF; height: 30px; width: 100%; display: flex; align-items: center">
      <span style="font-weight: bold; color: white; margin-left: 10px">NIP # 0144455</span>
    </div>
    <div style="margin: 20px">
      <mat-card style="height: 300px">
        <mat-card-header>
          <mat-card-title>Provider 360</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <table>
              <tr>
                <td rowspan="6">
                  <div align="center">
                    <div style="width: 150px; height: 150px; border-radius: 100px; background-color: #1177BF; background-image: url('../../assets/doctor.jpg'); background-position: center; -moz-background-size: cover">
                    </div>
                  </div>
                  <div style="width: 100%; display: flex; justify-content: center!important; padding-top: 10px;">
                    <mat-chip-list>
                      <mat-chip style="font-size: 12px; background-color: #1177BF; color: white;">
                        Edit provider data
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </td>
                <td class="title">Name</td>
                <td>{{locationData?.supervisoryPhysician}}</td>
                <td class="title">Address 1</td>
                <td>{{locationData?.addressLine1}}</td>
              </tr>
              <tr>
                <td class="title">NPI</td>
                <td>22939920</td>
                <td class="title">Address 2</td>
                <td>{{locationData?.addressLine2}}</td>
              </tr>
              <tr>
                <td class="title">Email</td>
                <td>{{locationData?.email}}</td>
                <td class="title">City</td>
                <td>{{locationData?.locationName}}</td>
              </tr>
              <tr>
                <td class="title">Phone</td>
                <td>{{locationData?.phone}}</td>
                <td class="title">State</td>
                <td>Sri Lanka</td>
              </tr>
              <tr>
                <td class="title">Fax</td>
                <td>0712470327</td>
                <td class="title">Zip</td>
                <td>{{locationData?.zipCode}}</td>
              </tr>
              <tr>
                <td class="title">Specialty</td>
                <td>Unkown</td>
                <td class="title">ADA compliant</td>
                <td>2455</td>
              </tr>
            </table>


          </div>
        </mat-card-content>

      </mat-card>

    </div>

    <div style="margin: 20px">
      <mat-card style="height: 300px">
        <mat-card-header>
          <mat-card-title>Active Ticket: #22939920</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <table>
              <tr>
                <td>
                  <div style="width: 100%; height: 140px; border: #1177BF solid 2px; border-radius: 5px">
                    <table>
                      <tr>
                        <td rowspan="2">
                          <div align="center" style="line-height: 1;">
                            <div style="font-weight: bold;">Impact Grade</div>
                            <div style="font-weight: bold; font-size: 60px;">7</div>
                          </div>
                        </td>
                        <td class="title">Member PCSPs:</td>
                        <td class="title">Prior Auth Opens:</td>
                      </tr>
                      <tr>

                        <td class="title">Open Clams:</td>
                        <td class="title">Active Affiliations:</td>
                      </tr>
                      <tr>
                        <td class="title">Total Billed for Open Clams:</td>
                        <td class="title">Total Paid to Provider in 2019:</td>
                        <td class="title">Total Clams Submitted:</td>
                      </tr>
                    </table>

                  </div>
                </td>
                <td rowspan="2" style="vertical-align:top !important;">
                  <div style="width: 100%; height: 100%">
                    <div style="padding-left: 20px; font-weight: bold">Description</div>
                    <p style="padding-left: 20px; padding-top: 10px">
                      sdfksldf;kslfksld;fkkl jda jkaldj alk jad qpqoid qpwd qpiwd qpowdiq qpowdi qp
                      idq pqidp oqid powqdq wid qpodiSl dbjqkwd kjqdwqk dqjdn ql dqwdnqlkdw qdlqwdqklwd
                      qdnwlqkd qldwnqdwnqwd qk dqwd;qlndwq dqdwnqjdqwd qwwidqipjdopqwd pqwdnpqojdn qwdppqpd
                      idjqidj
                    </p>
                  </div>
                </td>
              </tr>
              <tr align="center">
                <td  class="title">Status</td>
              </tr>
              <tr align="center">
                <td  class="title">Type</td>
              </tr>
            </table>


          </div>
        </mat-card-content>

      </mat-card>

    </div>
  </div>
</div>
