
mat-grid-tile {
justify-content: flex-start !important;
  align-items: flex-start !important;
}

table{
  width: 100%;
  padding: 10px;
  table-layout: fixed;

}
td{
  word-wrap:break-word;
}

.title{
  font-weight: bold;
  color: black;
}
